<!-- <nav class="navbar">
    <div class="navbar-brand" >AbsenceSync</div> 
 
    <ul class="navbar-nav">
         <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li> 
      <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
      <li class="nav-item"><a routerLink="/about" class="nav-link">About</a></li>
      <li class="nav-item"><a routerLink="/Contact" class="nav-link">Contact</a></li>
      <li class="nav-item"><a routerLink="/login" class="nav-link">login</a></li>
      <li class="nav-item"><a routerLink="/Profile" class="nav-link">Profile</a></li>
       <div class="nav-item"></div> 

      
      
    </ul>
    <div class="navbar-toggler" (click)="toggleNavbar()">☰</div>
  </nav>  -->

  <nav class="navbar">
    <div class="container">
        <a class="navbar-brand">AbsenceSync</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="/Contact">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" routerLink="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" routerLink="/Profile">Profile</a>
        </li>
        </ul>
    </div>
  </nav>
  

  <router-outlet></router-outlet>
  
