.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141a38;
    padding: 1.5rem;
  }
  
  .navbar-brand {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .nav-item {
    margin-left: 1rem;
  }
  
  .nav-link {
    color: #fff;
    text-decoration: none;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .navbar-toggler {
    display: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar-nav {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  
    .navbar-nav.active {
      display: flex;
    }
  
    .navbar-toggler {
      display: block;
    }
  }
  .logo::after{
    content: "";
    
font-weight: 600;
font-size: 36px;
color: rgb(251, 251, 251);
animation-name: animatingtext;
animation-duration: 1200ms;
animation-iteration-count: infinite;
position: fixed;
/* justify-content: center; */
display: flex;
align-items: center;
top: 2%;

}
@keyframes animatingtext {
0%{content: "";}
10%{content: "Ab";}
25%{content: "Absen";}
50%{content: "Absence";}
55%{content: "AbsenceSy";}
60%{content: "AbsenceSync";}
65%{content: "AbsenceSync.";}
70%{content: "AbsenceSync..";}
100%{content: "AbsenceSync...";}

}