<a routerLink="request"> <button class="liv" style="font-size: x-large;"> Request Leave</button></a>
<a routerLink="history"><button class="history"  style="font-size: 150%;"> Leave History </button></a>

<a routerLink="calender"><button class="calender" style="font-size: 150%;"> Leave Calender</button></a>
  
<a routerLink="company"> <button class="request" style="font-size: 150%;">Company</button></a>
<footer class="footer">
    <div class="footer-section">
        <h2>Contact</h2>
        <p>Email: {{email}}</p>
        <p>Phone: {{phone}}</p>
    </div>
    <div class="footer-section">
        <h2>About</h2>
        <p>We the student of YMC designed this website of AbsenceSync <br>which is a comprehensive tool designed to streamline the process of managing employee leave requests</p>
    </div>
    <div class="footer-section">
        <h2>Address</h2>
        <p>Yashwantrao Mohite College of Arts, Science and Commerce, Erandwane</p>
    </div>
</footer>