.liv {
    width: 200px; 
    height: 200px; /* Set your desired height */
    border: 3px solid #1e2a5a; /* Add a border */
    padding: 0; /* Remove padding to avoid shifting the text */
    margin: 20px; /* Add margin around the box */
    background-color: rgb(253, 253, 253);
    position: absolute;
    top: 25%;
    left: 5%;
    border-radius: 20%;
    box-shadow: 19px 20px 20px;
    display: flex; /* Add Flexbox */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}
.liv:hover{
    color: #1e2a5a;
}
.history{
    width: 200px; /* Set your desired width */
        height: 200px; /* Set your desired height */
        border: 3px solid #1e2a5a; /* Add a border */
        padding: 90px; /* Add some padding inside the box */
        margin: 20px; /* Add margin around the box */
        background-color: rgb(253, 253, 253);
        position: absolute;
       
        top: 25%;
        left: 28%;
        border-radius: 20%;
        box-shadow: 20px 15px 20px ;  
        display: flex;
        justify-content: center;
        align-items: center;    
}
.history:hover{
    color: #1e2a5a;
}
.calender{
    width: 200px; /* Set your desired width */
        height: 200px; /* Set your desired height */
        border: 3px solid #1e2a5a; /* Add a border */
        padding: 90px; /* Add some padding inside the box */
        margin: 20px; /* Add margin around the box */
        background-color: rgb(253, 253, 253);
        position: absolute;
        top: 25%;
        left: 51%;
        border-radius: 20%;
        box-shadow: 20px 15px 20px ;
        display: flex;
        justify-content: center;
        align-items: center; 
    }
.calender:hover{
    color: #1e2a5a;
}

.request{
    width: 200px; /* Set your desired width */
        height: 200px; /* Set your desired height */
        border: 3px solid #1e2a5a; /* Add a border */
        padding: 90px; /* Add some padding inside the box */
        margin: 20px; /* Add margin around the box */
        background-color: rgb(253, 253, 253);
        position: absolute;
       
        top: 25%;
        left: 75%;
        border-radius: 20%;
        box-shadow: 20px 15px 20px ; 
        display: flex;
        justify-content: center;
        align-items: center;    
}
.request:hover{
    color: #1e2a5a;
}

.footer {
    position: absolute;
     top: 98%;
     width: 97.4%;
        left: 0%;
    
    background-color: #1e2a5a;
    color: white;
    padding: 21px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.footer .footer-section {
    margin: 10px;
}
.footer h2 {
    margin-bottom: 10px;
}
.footer p {
    margin: 5px 0;
}