<form >
    <h1 style="align-items: center; color: rgb(230, 224, 78); font-size: 250%;">Login</h1>
    <br>
    
 <b><input type="text" name="Login" id="login" placeholder="Enter your username"  style="height: 1cm; width: 8cm; border-radius: 2ch;font-size: 100%; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-color: rgb(217, 220, 34); border-width: 0.5ch; border-style: groove;"> </b>
 <br>
 <br>
    <input type="password" name="Login" id="login" placeholder="password" style="height: 5cm; width: 7cm; border-radius: 2ch; font-size: 100%; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; border-color:rgb(217, 220, 34); border-width: 0.5ch; border-style: groove;">

    <br>
    <br>
    <a href="#" style="color: rgb(217, 225, 67); display: inline-block; ">Forget Password??</a>
    <br>
    <a href="#" >
    <button style="font-size: 150%; width: 15%; border-radius: 1cm;height: 1cm; border-style: groove; border-color: yellow; position: absolute; left: 43.5%;">Login</button></a>
    <br>
    <br>
    <br>
   
    <div class="message" id="message" style="display:block; color: red; align-items: center;">Incorrect username or Password</div>

</form> 